<ion-view view-title="设置与帮助">
  <ion-nav-buttons side="left">
    <a  ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item"><i class="ion ion-ios-arrow-back"></i>
      返回
    </a>
  </ion-nav-buttons>
  <ion-content class="setting_help">
     <div class="list main-menu-sub">
        <a class="item  item-icon-right" href="#/modifyPassword">
                修改登录密码
                <i class="icon ion-chevron-right"></i>
            </a>
        <a class="item  item-icon-right" href="#">
                路漫客服
                <i class="icon ion-chevron-right"></i>
            </a>
        <a class="item  item-icon-right" href="#">
                帮助
                <i class="icon ion-chevron-right"></i>
            </a>
        <a class="item  item-icon-right" href="#">
                声明
                <i class="icon ion-chevron-right"></i>
            </a>
    </div>

    <div class="padding">
      <button class="button button-block button-assertive" ng-click="loginOut();">退出</button>
    </div>
  </ion-content>
</ion-view>
