<ion-view view-title="查看报告">
    <ion-content class="my_orders" id="my_report">

        <div class="list health_news">

            <div class="list-item">
                <div class="item-header row" style="padding: 28px">
                    <div class="col col-60">病理号:1234567</div>
                    <div class="col col-20 col-text_right">已审核</div>
                    <div class="col col-20"><a ng-click="showReport('http://139.196.149.33/f7f3b99d-dc0c-4ae3-b4f9-18f5634a0a0e.pdf')">查看</a></div>
        </div>
            </div>


            <div class="list-item">
                <div class="item-header row" style="padding: 28px">
                    <div class="col col-80">病理号:1234567</div>
                    <div class="col col-20 col-text_right">待审核</div>
                </div>
            </div>

            <div class="list-item">
                <div class="item-header row" style="padding: 28px">
                    <div class="col col-80">病理号:1234567</div>
                    <div class="col col-20 col-text_right">审核中</div>
                </div>
            </div>

            <div class="list-item">
                <div class="item-header row" style="padding: 28px">
                    <div class="col col-60">病理号:12345678</div>
                    <div class="col col-20 col-text_right">已审核</div>
                    <div class="col col-20"><a ng-click="showReport('https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=1761047835,2301620582&fm=58')">查看</a></div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
