<ion-view view-title="查看报告">
    <ion-content class="my_orders" id="my_report">

        <div class="list health_news" ng-if="reports != null && reports.length !='0'">
            <div class="list-item" ng-repeat="report in reports" >

                    <div class="item-header row" style="padding: 28px">
                        <div class="col col-60">病理号：{{report.accessionNo}}</div>
                        <div class="col col-20 col-text_right" ng-if="report.status=='0'">待输入</div>
                        <div class="col col-20 col-text_right" ng-if="report.status=='1'">待审核</div>
                        <div class="col col-20 col-text_right" ng-if="report.status=='2'">已审核</div>
                        <div class="col col-20" ng-if="report.status=='2'"><a ng-click="showReport(report.reportUrl)">查看</a></div>
                    </div>

            </div>
        </div>

        <div class="list health_news" ng-if="reports == null || reports.length =='0'">
            <div class="list-item">

                <div class="item-header row" style="padding: 28px">
                    <div class="col col-40"></div>
                    <div class="col col-20 col-text_right">暂无报告</div>
                    <div class="col col-40"></div>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
